.btn{
    display: inline-block;
    padding: 4px 16px;
    border-radius: 4px;
    border: 2px solid  var(--sky-color);
    background-color:var(--sky-color);
    color:rgb(247, 247, 247) ;
    font-weight: 500;
    margin: 10px;
    transition: background-color 0.3s linear;
}
.btn:hover{
    border:2px solid var(--sky-color);
    background-color:rgb(247, 247, 247);
    color:var(--sky-color);
}

div.blog > .safe-btn{
    border: 2px solid #98c633 !important;
    background-color:rgb(247, 247, 247) !important;
    color:#98c633 !important;
}
div.blog > .safe-btn:hover{
    border:2px solid transparent !important;
    background-color:#98c633 !important;
    color:black !important;
}

div.blog > .danger-btn{
    border: 2px solid var(--text-red) !important;
    background-color:rgb(247, 247, 247) !important;
    color:var(--text-red) !important;
}
div.blog > .danger-btn:hover{
    border:2px solid transparent !important;
    background-color:var(--text-red) !important;
    color:white !important;
}

div.blog > .warning-btn{
    border: 2px solid rgb(218, 211, 0) !important;
    background-color:white !important;
    color:var(--black-color) !important;
}
div.blog > .warning-btn:hover{
    border:2px solid transparent !important;
    background-color:var(--warning-color) !important;
    color:black !important;
}

div.blog > .dark-btn{
    border: 2px solid var(--black-color) !important;
    background-color:rgb(247, 247, 247) !important;
    color:var(--black-color) !important;
}
div.blog > .dark-btn:hover{
    border:2px solid transparent !important;
    background-color:var(--black-color) !important;
    color:var(--lynx-white-color) !important;
}

