<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="https://nated.in/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Styling Nat UI</title>
    <style>
        body {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .container {
            padding: 10px 30px;
        }
        
    </style>
    <link rel="stylesheet" href="/styles/min.css" crossorigin="anonymous">
</head>

<body>
    <div class="blog blog-body font-poppins container">
        <a class="btn dark-btn" href="/">Home</a>
        <h2 class="blog-h2-1">Button Lists</h2>
        <a class="btn safe-btn" href="/">Safe Button</a>
        <a class="btn warning-btn" href="/">Warning Button</a>
        <a class="btn danger-btn" href="/">Danger Button</a>
        <a class="btn dark-btn" href="/">Dark Button</a>
        <a class="btn" href="/">Default</a>
        
        
    </div>
</body>

</html>