div.blog{
    width: 50%;
    margin:auto;
    padding: 30px;
}

div.blog-body{    
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius:8px;
}

h2.blog-h2-1{
    border-left: 7px solid orangered;
    margin-left: 10px;
    padding-left: 10px;
    margin: 5px 0 5px 10px;
    background-color: rgb(249, 252, 255);
    border-radius: 2px;
}
h2.blog-h2-2{
    border-left: 7px solid olivedrab;
    margin-left: 10px;
    padding: 2px 0 2px 12px;
    margin: 5px 0 5px 10px;
    background-color: rgb(249, 252, 255);
    border-radius: 2px;
}

ul.blog {
    list-style: none;
}
div.blog li{
    margin-bottom:10px;
}

.rocket-icon::before {
    content: "\1F680";
    display: inline-block;
    margin-left:5px;
    width: 1em;
    padding-right:10px;    
}

.right-icon::before {
    content: "\2705";
    display: inline-block;
    margin-left:5px;
    width: 1em;
    padding-right:10px;    
}

.wrong-icon::before {
    content: "\274C";
    display: inline-block;
    margin-left:5px;
    width: 1em;
    padding-right:10px;    
}

.info-icon::before {
    content: "\24D8";
    font-weight: bold;
    margin-left:5px;
    color:var(--sky-color);
    display: inline-block;
    width: 1em;
    padding-right:10px;        
}

.like-icon::before {
    content: "\1F44D";
    display: inline-block;
    margin-left:5px;
    width: 1em;
    padding-right:10px;
}

.point-icon::before {
    content: "\1F449";
    display: inline-block;
    margin-left:5px;
    width: 1em;
    padding-right:10px;
}


.burger-icon::before {
    content: "\1F354";
    display: inline-block;
    margin-left:5px;
    width: 1em;
    padding-right:10px;
}

.red-icon::before {
    content: "\1F534";
    color: red;
    margin-left:5px;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    padding-right:10px;
}

.star-icon::before {
    content: "\2B50";
    color: red;
    margin-left:5px;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    padding-right:10px;
}

img.thumbnail{
    border-radius:4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    display: block;
    margin: 10px auto;
    /* transition-property: transform; */
    transition: transform .2s linear;
}
img.thumbnail:hover{
    cursor: pointer;
    transform: translate(-6px, -3px);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

div.blog hr{
    text-align:center;
    width:33%;
    border:none;
    height:0.4px;
    background-color: #d4d4d4;
}

.also-read{
    background-color: #fff6f0;
    border-radius: 8px;
    padding: 5px 10px;
    transition: background-color .3s linear;
    width: fit-content;
}
.also-read:hover {
    background-color: #F6FFE2;
}
.also-read a{
    color:#de6c21;
    transition: color .4s linear;
}
.also-read:hover a{
    color:#98c633;
}

.text-center{
    text-align: center;
    margin:auto;
    /* justify-content: center; */
}






@media screen and (max-width: 380px){
    div.blog{
        width: 90%;
        margin:auto;
        padding: 30px;
    }
}