<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="https://nated.in/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Styling CSS</title>
    <style>
        body {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .container {
            padding: 10px 30px;
        }
        
    </style>
    <link rel="stylesheet" href="/styles/min.css" crossorigin="anonymous">
</head>

<body>
    <div class="blog debug font-poppins container">
        <a class="btn dark-btn" href="/">Home</a>
        <h2 class="blog-h2-1">Lists</h2>
        <h4 class="star-icon">Features</h4>
        <ul class="blog">
            <li class="star-icon">Feature 1</li>
            <li class="info-icon">Feature 2</li>
            <li class="red-icon">Feature 3</li>
            <li class="like-icon">Feature 4</li>
            <li class="point-icon">Feature 5</li>
            <li class="right-icon">Feature 6</li>
            <li class="wrong-icon">Feature 7</li>
            <li class="point-icon">Feature 8</li>
            <li class="rocket-icon">Feature 9</li>
            <li class="point-icon">Feature 10</li>
            <li class="point-icon">Feature 11</li>
        </ul>
        <hr>
        <h4 class="star-icon">Image </h4>
        <img class="thumbnail" src="https://picsum.photos/seed/picsum/536/354" alt="">
        <hr>
        <h4 class="star-icon">Also Read Block </h4>
        <p class="font-mono text-center also-read"><strong>Also Read: <a href="https://ui.nated.in">How to use the Nat UI & what are the features?</a></strong></p>
    </div>
</body>

</html>