.slide-left{
    transition: transform .2s linear;
    cursor: pointer;
}

.slide-left:hover{
    transform: translateX(-6px);
}

.slide-right{
    transition: transform .2s linear;
    cursor: pointer;
}

.slide-right:hover{
    transform: translateX(6px);
}

.slide-down{
    transition: transform .2s linear;
    cursor: pointer;
}

.slide-down:hover{
    transform: translateY(6px);
}

.slide-up{
    transition: transform .2s linear;
    cursor: pointer;
}

.slide-up:hover{
    transform: translateY(-6px);
}

/* special ones */


img.hover-invert:hover{
    transform: scaleX(-1);
}
.hover-blur{
    transition: all 0.1s ease-in-out;
}
.hover-blur:hover{
    filter: blur(6px);
}
.color-invert{
    transition: all 0.3s ease-in-out;
}
.color-invert:hover{
    filter: invert(1);
}