<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="https://nated.in/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Styling Nat UI</title>
    <style>
        body {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .container {
            padding: 10px 30px;
        }
        
    </style>
    <link rel="stylesheet" href="/styles/min.css" crossorigin="anonymous">
</head>

<body>
    <div class="blog blog-body font-poppins container">
        <a class="btn dark-btn" href="/">Home</a>
        <h2 class="blog-h2-1">Slide Animation on Buttons</h2>
        <a class="btn safe-btn" href="/">No slide</a>
        <a class="btn warning-btn slide-left" href="/">Slide Left</a>
        <a class="btn danger-btn slide-down" href="/">Slide Down</a>
        <a class="btn dark-btn slide-right" href="/">Slide Right</a>
        <a class="btn slide-up" href="/">Slide Up</a>
        
        <hr>
        <h4 class="star-icon">Image </h4>
        <img class="thumbnail" src="https://picsum.photos/seed/picsum/536/354" alt="">
        <hr>
        <h4 class="star-icon">Also Read Block </h4>
        <p class="font-mono text-center also-read"><strong>Also Read: <a href="https://ui.nated.in">How to use the Nat UI & what are the features?</a></strong></p>
    </div>
</body>

</html>